@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

body{
    background-color: hsl(218, 23%, 16%);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px; /*deixa as bordas redondas */
    padding: 20px;
    max-width: 450px;
}

.card .conselho{
    color: hsl(193, 38%, 86%);
    font-size: 23px;
    padding: 23px;
    text-align: center;
}
.card .id{
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin-top: 30px;
}
.card picture img {
    width: 100%;
}
.card .botão {
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 50%;
    background-color: hsl(150, 100%, 66%);
    transform: translateY(85%);
}

.card .botão:hover {
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px hsl(150, 100%, 66%);
}